.bannerParentDiv {
  padding-top: 4em;
}
.bannerParentDiv .bannerChildDiv {
}
.bannerParentDiv .bannerChildDiv .menuBar {
  display: flex;
  padding: 10px 16px 10px 16px;
}

.bannerParentDiv .bannerChildDiv .menuBar span {
}

.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
}

.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions {
}
.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
  padding: 10px;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100vw;
}
.bannerChildDiv .banner img{
  width: 100vw;
}

@media only screen and (max-width: 900px) {
  .otherQuickOptions {
    display: none;
  }
  .bannerChildDiv .banner {
    position: relative;
  }
  .categoryLink{
    display: none;
  }
}

.bannerimage{
 
}
.otherQuickOptions{
max-width: 74vw;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  
}
.categoryLink{
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  margin-top: 0px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-left: 2px;
    min-width: 32px;
  
}
.categoryLink:hover{
  color: #00a49f;
}
